ul li .collapsible-header {
	color: #000000;
}

ul li .collapsible-header:hover {
	background-color: #29b6f6;
}

.underline {
	padding-bottom: 1%;
	border-bottom: 1px solid #37474f;
}

.flex{
  display: flex;
  align-items: center;
}

ul li .sisi {
	font-size: 15px;
	font-weight: normal;
}

.size {
	font-size: 22px;
}

.sifat-rekomendasi {
	margin-top: 16px;
}

.row-rekomendasi {
	margin-bottom: 0px;
}

